<!DOCTYPE html>
<html xmlns: th="http://thymeleaf.org"
      xmlns: layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Livraria Ingary</title>
</head>
<body>
    <h1>Cadastro de livros:</h1>
    <form method="post">
        Capa: <input type="text" value="" name="capa"/>
        Titulo: <input type="text" value="" name="título"/>
        Subtitulo: <input type="text" value="" name="subtítulo"/>
        Autor: <input type="text" value="" name="autor"/>
        Coautor: <input type="text" value="" name="coautor"/>
        Ilustracao: <input type="text" value="" name="ilutração"/>
        Paginacao: <input type="number" value="" name="paginação"/>
        Editora: <input type="text" value="" name="editora"/>
        Edicao: <input type="text" value="" name="edited"/>
        AnoLancamento: <input type="number" value="" name="ano de lançamento"/>
        Genero: <input type="text" value="" name="gênero"/>
        Idioma: <input type="text" value="" name="idioma"/>
        TipoCapa: <input type="text" value="" name=" tipo da capa"/>
        CodigoBarra: <input type="number" value="" name="codigo de barra"/>
        Preco: <input type="number" value="" name="preço"/>
        Estoque: <input type="number" value="" name="estoque">

        <button type="submit">Salvar</button>

    </form>
</body>

</html>